@page "/"
@using Chilite.Protos

@inject Greeter.GreeterClient GreeterClient

<h2>@_message</h2>

@code
{

    private string _message;

    protected override async Task OnInitializedAsync()
    {
        var responce = await GreeterClient.SayHelloAsync(new HelloRequest
        {
            Name = "Egor"
        });

        _message = responce.Message;
    }

}